

/* MAIN MENU */
/*-----------------------------------------------------------------------------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* main menu desktop */
@media (min-width: 801px) {
    #main-menu {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    .main-menu-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-top: 10vh;
    }
    
    .main-menu-logo p {
        height: 15vw;
        margin-left: 0.7vw;
        font-family: "Jersey 10", serif;
        font-weight: 400;
        font-size: 17vw;
        font-style: normal;
        border: white;
        color: #5b1c14;
        text-shadow: 
            0.5vw 0.5vw 0 white, 
            -0.5vw 0.5vw 0 white, 
            0.5vw -0.5vw 0 white, 
            -0.5vw -0.5vw 0 white; /* Creates the border effect */
    }
    
    .main-menu-logo p:nth-child(1) {
        margin-left: 1vw;
    }
    
    #star{
        margin-top: 2vh;
        object-fit: contain;
        width: 8vw;
    }
    
    .menu-buttons {
        display: flex;
        flex-direction: row;
        margin-bottom: 10vw;
    }
    
    .menu-button button {
        width: 15vw;
        height: 10vh;
        margin: 1vw;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2vw;
        border-radius: 1vw;
        border: 0.3vw solid white;
        color: white;
        transition: ease 0.5s;
    }
    
    .menu-button button:hover {
        width: 16vw;
        height: 11vh;
    }
    
    #matuto {
        background-color: #212020;
    }
    
    #maglaro {
        background-color: #5b1c14;
    }
}

/* main menu phone */
@media (max-width: 800px){
    #main-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .main-menu-logo {
        display: flex;
        width: 100vw;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-top: 15vh;
        margin-bottom: 6vh;
    }

    .main-menu-logo p {
        height: 23vw;
        margin-left: 0.7vw;
        font-family: "Jersey 10", serif;
        font-weight: 400;
        font-size: 35vw;
        font-style: normal;
        border: white;
        color: #5b1c14;
        text-shadow: 
            0.8vw 0.8vw 0 white, 
            -0.8vw 0.8vw 0 white, 
            0.8vw -0.8vw 0 white, 
            -0.8vw -0.8vw 0 white; /* Creates the border effect */
    }

    #star{
        object-fit: contain;
        margin-top: 8vw;
        width: 19vw;
    }

    .menu-buttons {
        display: flex;
        flex-direction: column;
    }

    .menu-button button{
        width: 40vw;
        height: 7vh;
        margin: 3vw;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5vw;
        border-radius: 1.5vw;
        border: 0.4vw solid white;
        color: white;
        transition: ease 0.5s;
    }

    .menu-button button:hover {
        width: 42vw;
        height: 11vh;
    }
    
    #matuto {
        background-color: #212020;
    }
    
    #maglaro {
        background-color: #5b1c14;
    }
}
/* --------------------------------------------------------------------- */



/*-----------------------------------------------------------------------------------------------------------*/
/* MATUTO */
/*-----------------------------------------------------------------------------------------------------------*/
/* matuto desktop */
@media (min-width: 801px){
    #matuto-home {
        height: 100vh;
        position: relative;
        overflow: visible;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #white-background {
        display: flex;
        position: relative;
        overflow: visible;
        width: 80vw;
        height: 63vh;
        margin-top: 20vh;
        background-color: white;
        border-radius: 3vw;
        padding: 3vw;
    }

    #white-background img {
        position: absolute;
        top: -30%;
        left: -8%;
        object-fit: contain;
        width: 25vw;
        margin-bottom: 30vh;
    }

    #greetings {
        display: flex;
        flex-direction: column;
        width: 54vw;
        margin-left: 15vw;
    }

    #greetings p:nth-child(1),


    #greetings p:nth-child(2) {
        font-family: "Jersey 10", serif;
    }

    #greetings p:nth-child(1) {
        font-size: 5.8vw;
        height: 9vh;
    }

    #greetings p:nth-child(2) {
        font-size: 4vw;
        margin-bottom: 2vw;
    }

    #greetings p:nth-child(3),
    #greetings p:nth-child(4) {
        font-family: "Roboto Condensed", serif;
        font-size: 2vw;
    }

    #white-background button {
        position: absolute;
        overflow: visible;
        right: 3vw;
        top: 46vh;
        text-decoration: none;
        color: #5b1c14;
    }

    #technique-menus {
        display: none;
        flex-direction: column;
    }



    #technique-menus div:nth-child(1) {
        margin-left: 15vw;
        width: 61vw;
    }

    #technique-menus div:nth-child(1) p:nth-child(1),
    #technique-menus div:nth-child(1) p:nth-child(2) {
        font-family: "Jersey 10", serif;
        font-size: 2.4vw;
        height: 10vh;
    }

    #technique-menus div:nth-child(1) p:nth-child(2){
        margin-bottom: 2vw;
    }

    #technique-menus div:nth-child(1) p:nth-child(3) {
        font-family: "Roboto Condensed", serif;
        font-size: 2vw;
    }

    #technique-menus div:nth-child(2) {
        display: flex;
        flex-flow: wrap;
        width: 50vw;
        justify-content: space-evenly;
        margin-left: 10vw;
    }

    #technique-menus div:nth-child(2) a {
        font-family: "Alfa Slab One", serif;
        font-size: 2.5vw;
        margin: 0.6vw;
        width: 20vw;
        text-decoration: none;
        color: #5b1c14;
        background-color: #ddba01;
        border-radius: 2vw;
        text-align: center;
        transition: 0.5s ease;
    }

    #technique-menus div:nth-child(2) a:hover {
        width: 21vw;
    }

    #magpatuloy-button {
        all: unset;
    }

    .magpatuloy {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.3vh;
        background-color: #ddba01;
        border: 0.3vw solid black;
        width: 22vw;
        height: 7vh;
        border-radius: 0 2vw 2vw 0;
        transition: 0.5s ease;
    }

    .magpatuloy:hover {
        width: 23vw;
    }

    .magpatuloy p {
        position: absolute;
        right: 28%;
        font-family: "Jersey 10", serif;
        font-weight: 700;
        font-size: 3vw;
    }

    .magpatuloy div:nth-child(2) {
        background-color: #5b1c14;
        width: 0.7vw;
        height: 5vh;
        margin: 0.2vw;
        margin-left: 17vw;
    }

    .magpatuloy div:nth-child(3),
    .magpatuloy div:nth-child(4) {
        background-color: #5b1c14;
        width: 0.7vw;
        height: 5vh;
        margin: 0.2vw;
    }

    .magpatuloy div:nth-child(5) {
        height: 3vh;
        margin: 0.3vw;
        border-top: 1.5vw solid transparent; /* Transparent top border */
        border-left: 1.5vw solid #5b1c14;      /* Visible left border forms the triangle */
        border-bottom: 1.5vw solid transparent; /* Transparent bottom border */
    }
}

/* matuto phone */
@media (max-width: 800px){
    #matuto-home {
        height: 100vh;
        position: relative;
        overflow: visible;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #white-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: visible;
        width: 90vw;
        height: 100vh;
        margin-top: 20vh;
        background-color: white;
        border-radius: 3vw;
        padding: 3vw;
    }

    #white-background img {
        position: absolute;
        top: -15%;
        left: 20%;
        object-fit: contain;
        width: 50vw;
        margin-bottom: 1vh;
    }

    #greetings {
        display: flex;
        flex-direction: column;
        width: 70vw;
        margin-top: 10vh;
        text-align: center;
    }

    #greetings p:nth-child(1),


    #greetings p:nth-child(2) {
        font-family: "Jersey 10", serif;
    }

    #greetings p:nth-child(1) {
        font-size: 8vw;
        font-weight: 700;
        height: 4vh;
    }

    #greetings p:nth-child(2) {
        font-size: 6vw;
    }

    #greetings p:nth-child(3){
        color: black;
        font-family: "Roboto Condensed", serif;
        font-size: 4vw;
        font-weight: 700;
    }

    #greetings p:nth-child(3) {
        padding-bottom: 3vh;
        width: 100%;
        border-bottom: 1vw solid #5b1c14;
    }

    #white-background button {
        position: absolute;
        overflow: visible;
        right: 3vw;
        top: 46vh;
        text-decoration: none;
        color: #5b1c14;
    }

    #technique-menus {
        display: flex;
        flex-direction: column;
    }

    #technique-menus div:nth-child(1) {
        display: flex;
        flex-direction: column;
        width: 70vw;
        text-align: center;
        margin-top: 2vh;
    }

    #technique-menus div:nth-child(1) p:nth-child(1) {
        color: #5b1c14;
        font-family: "Jersey 10", serif;
        font-size: 5vw;
        height: 15vh;
    }

    #technique-menus div:nth-child(1) p:nth-child(2){
        margin-bottom: 5vw;
    }

    #technique-menus div:nth-child(1) p:nth-child(2) {
        color: #5b1c14;
        font-family: "Roboto Condensed", serif;
        font-size: 4vw;
    }

    #technique-menus div:nth-child(2) {
        display: flex;
        flex-flow: wrap;
        width: 70vw;
        justify-content: space-evenly;
    }

    #technique-menus div:nth-child(2) a {
        font-family: "Alfa Slab One", serif;
        font-size: 6vw;
        margin: 0.6vw;
        width: 70vw;
        height: 5.5vh;
        text-decoration: none;
        color: #5b1c14;
        background-color: #ddba01;
        border-radius: 2vw;
        text-align: center;
        transition: 0.5s ease;
    }

    #technique-menus div:nth-child(2) a:hover {
        width: 60vw;
    }

    #magpatuloy-button {
        all: unset;
    }

    .magpatuloy {
        position: relative;
        display: none;
        flex-direction: row;
        align-items: center;
        margin-top: 1.3vh;
        background-color: #ddba01;
        border: 0.3vw solid black;
        width: 22vw;
        height: 7vh;
        border-radius: 0 2vw 2vw 0;
        transition: 0.5s ease;
    }

    .magpatuloy:hover {
        width: 23vw;
    }

    .magpatuloy p {
        position: absolute;
        right: 28%;
        font-family: "Jersey 10", serif;
        font-weight: 700;
        font-size: 3vw;
    }

    .magpatuloy div:nth-child(2) {
        background-color: #5b1c14;
        width: 0.7vw;
        height: 5vh;
        margin: 0.2vw;
        margin-left: 17vw;
    }

    .magpatuloy div:nth-child(3),
    .magpatuloy div:nth-child(4) {
        background-color: #5b1c14;
        width: 0.7vw;
        height: 5vh;
        margin: 0.2vw;
    }

    .magpatuloy div:nth-child(5) {
        height: 3vh;
        margin: 0.3vw;
        border-top: 1.5vw solid transparent; /* Transparent top border */
        border-left: 1.5vw solid #5b1c14;      /* Visible left border forms the triangle */
        border-bottom: 1.5vw solid transparent; /* Transparent bottom border */
    }
}
/*-----------------------------------------------------------------------------------------------------------*/

/* MAGLARO */
/*-----------------------------------------------------------------------------------------------------------*/
 @media (min-width: 801px){
    #maglaro-home{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .maglaro{
        display: flex;
        overflow: visible;
        flex-direction: column;
        align-items: center;
        width: 44vw;
        height: 52vh;
        border: 1vw solid white;
        margin: 2vw;
        padding: 3vw;
    }  



    #pagtutugma{
        background: #212020;
    }

    #pagtutugma img{
        object-fit: contain;
        width: 4vw;
    }


    #sitwasyonal{
        background-color: #5b1c14;
    }

    #sitwasyonal img{
        object-fit: contain;
        width: 3vw;
    }

    #limitadong-oras{
        background-color: #212020;
    }

    #limitadong-oras img{
        object-fit: contain;
        width: 4vw;
    }

    #maglaro-home div p{
        font-family: "Jersey 10", serif;
        color: white;
    }


    .maglaro-title{
        color: white;
        font-size: 2.7vw;
        margin-bottom: 1.5vh;
    }

    .maglaro-description{
        font-family: "Roboto Condensed", serif;
        font-size: 1.4vw;
        text-align: center;
    }

    #limitadog-oras p:nth-child(1),
    #limitadog-oras p:nth-child(2){
        font-size: 3.1vw;   
    }

    #maglaro-home div p:nth-child(3){
        margin-bottom: 42.2vh;
    }

    .menu-container{
        display: flex;
        position: absolute;
        bottom: 21.1vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 26vw;
        height: 25.3vh;
    }

    .menu-container button{
        width: 12vw;
        height: 12vh;
        font-family: "Jersey 10", serif;
        font-size: 2vw;
        border: 0.3vw solid white;
        background-color: #ddba01;
        transition: 0.5s ease;
        margin-bottom: 1.8vh;
    }

    .menu-container button:hover{
        background-color: #212020;
        color: white;
    }

    .menu-container a{
        display: none;
        text-decoration: none;
        text-align: center;
        font-family: "Alfa Slab One", serif;
        font-size: 1vw;
        background-color: #ddba01;
        border: 0.2vw solid white;
        color: black;
        width: 20vw;
        height: 6vh;
        margin: 0.5vw;
        padding: 0.8vw;
        transition: 0.5s ease;
    }

    .menu-container a:hover{
        width: 22vw;
    }

    .menu-container a:nth-child(2) {
        margin-bottom: 3vh;
    }
 }

/* -----maglaro phone----- */
@media (max-width: 800px){

    #maglaro-home{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }


    .maglaro{
        display: flex;
        overflow: visible;
        flex-direction: column;
        align-items: center;
        width: 55vw;
        height: 25Vh;
        border: 1vw solid white;
        margin: 2vw;
        margin-top: 4vh;
        padding: 3vw;
    }

    #pagtutugma{
        background: #212020;
    }

    #pagtutugma img{
        object-fit: contain;
        width: 9vw;
    }

    #sitwasyonal{
        background-color: #5b1c14;
    }

    #sitwasyonal img{
        object-fit: contain;
        width: 7vw;
    }

    #limitadong-oras{
        background-color: #212020;
    }

    #limitadong-oras img{
        object-fit: contain;
        width: 9vw;
    }

    #maglaro-home div p{
        font-family: "Jersey 10", serif;
        color: white;
    }

    .maglaro-title{
        font-size: 5vw;
    }

    .maglaro-description{
        font-family: "Roboto Condensed", serif;
        font-size: 3.8vw;
        text-align: center;
        margin-bottom: 1.5vh;
    }

    #limitadong-oras p:nth-child(1){
        font-size: 6.1vw;   
    }

    .menu-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-container button{
        width: 30vw;
        height: 6vh;
        font-family: "Jersey 10", serif;
        font-size: 6vw;
        border: 0.3vw solid white;
        background-color: #ddba01;
        transition: 0.5s ease;
        margin-bottom: 1.8vh;
    }

    .menu-container button:hover{
        background-color: #212020;
        color: white;
    }

    .menu-container a{
        display: none;
        text-decoration: none;
        text-align: center;
        font-family: "Alfa Slab One", serif;
        font-size: 2.5vw;
        background-color: #ddba01;
        border: 0.2vw solid white;
        color: black;
        width: 35vw;
        height: 4vh;
        margin: 0.5vw;
        padding: 0.9vw;
        transition: 0.5s ease;
    }
    
 }
/*-----------------------------------------------------------------------------------------------------------*/


/* HOVER */


