@media (max-width: 800px) {
    body {    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choices-container{
        display: flex;
        flex-direction: column;
    }
    
    .bumalik-button{
        display: none;
    }

    .tama{
        display: none;
    }

    .mali{
        display: none;
    }
}