@media (min-width: 0px) and (max-width: 800px) {

    .sub-menu{
        background-image: url(../../asset/img/BACKGROUND\ MATUTO\ MAGLARO.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        object-fit: contain;
    }

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    #maglaro-home{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .home-button img{
        position: absolute;
        left: -2%;
        top: -1%;
        object-fit: contain;
        width: 20vw;
    }

    .maglaro{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        height: 22vh;
        border: 1px solid black;
        margin-top: 8vh;
    }

    .menu-container{
        display: flex;
        flex-direction: column;
        overflow: visible;
    }

    .maglaro-title{
        font-family: "Jersey 10", serif;
        font-size: 6vw;
        color: white;
    }

    #pagtutugma{
        background-color: #212020;
    }

    #pagtutugma p:nth-child(2){
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

    #sitwasyonal{
        background-color: #5b1c14;
    }

    #sitwasyonal p:nth-child(2){
            margin-top: 4vh;
            margin-bottom: 3vh;
    }

    #limitadong-oras{
        background-color: #212020;
    }

    #limitadong-oras p:nth-child(3){
        margin-bottom: 1vh;
    }

    .maglaro-description{
        font-family: "Roboto Condensed", serif;
        font-size: 3vw;
        margin: 0px;
        color: white;
        margin-left: 4vw;
    }

    .menu-container a{

        display: none;        
        width: 40vw;
        height: 4vh;
        font-family: "Jersey 10", serif;
        text-decoration: none;
        background-color: #ddba01;
        color: black;
        margin: 1vw;
        text-align: center;
        border: 2px solid white;
    }

    .menu-container button{
        width: 40vw;
        height: 6vh;
        background-color: #ddba01;
        border: 2px solid white;
        font-family: "Jersey 10", serif;
        font-size: 6vw;
    }
} 