<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/limitadong-oras.css" />
    <link rel="stylesheet" href="../../../global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Josefin+Slab:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jersey+10&family=Josefin+Slab:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jersey+10&family=Josefin+Slab:wght@400;600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="sub-menu">

    <a href="../../maglaroHome.html" class="bumalik-button">
      <div class="bumalik">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <p>BUMALIK</p>
      </div>
  </a>

    
    <div class="overlay"></div>
    
    <div class="game-container">
      <p id="phrase"></p>

      <div class="timer" id="timer">20</div>

      <div class="techniques">
        <input id="translation" type="text" />
      </div>

      
      <button class="done-button">Done</button>
    </div>


    <div class="tama">
      <div class="container-1">
        <p id="description-tama">TAMA!!</p>
        <p id="asdfasdf">Maligayang pagbati!</p>

        <button class="tama-magpatuloy-button">
          <div class="magpatuloy" id="tama-magpatuloy">
            <p>MAGPATULOY</p>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>

        </button>

      </div>
      <img src="../../../asset/img/tama.png" alt="" />
    </div>



    <div class="mali">
      <img src="../../../asset/img/mali.png" alt="" />
      <div class="container-2">
        <p id="description-mali">MALI!!</p>
        <p class="explanations"></p>

        <button class="mali-magpatuloy-button">
          <div class="magpatuloy" id="mali-magpatuloy">
            <p>MAGPATULOY</p>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </button>

      </div>
    </div>

    <script>
      const questions = [
  "The road to success is never easy.",
  "The stars shone brightly in the night sky.",
  "The early bird catches the worm.",
  "I felt a sense of relief after finishing the task.",
  "His smile was as bright as the sun."
];

const answers = [
  ["Correct Translations: ", "Ang daan patungo sa tagumpay ay hindi madali", "Ang daan patungo sa tagumpay ay hindi kailanman madali", "Ang landas patungo sa tagumpay ay hindi simple", "Ang landas patungo sa tagumpay ay mahirap", "Ang daan patungo sa tagumpay ay puno ng pagsubok"],
  ["Correct Translations: ", "Bilog ang mga bituin sa gabi", "Ang mga bituin ay kumikislap ng maliwanag sa kalangitan", "Ang mga bituin ay kumikislap sa madilim na kalangitan", "Ang mga bituin ay nagliliwanag sa gabi", "Kumikislap ang mga bituin sa gabi"],
  ["Correct Translations: ", "Ang maagap ay may tagumpay", "Ang mabilis na gumising ay may tagumpay", "Ang unang gumising ay may tagumpay", "Ang maagang gumising ay may tagumpay", "Ang una sa lahat ay may tagumpay"],
  ["Correct Translations: ", "Nakaramdam ako ng ginhawa matapos tapusin ang gawain", "Naramdaman ko ang magaan na pakiramdam pagkatapos ng gawain", "Nagkaroon ako ng ginhawa matapos ang tapos na gawain", "Nakaramdam ako ng kaluwagan matapos ang trabaho", "Ang pakiramdam ko ay magaan pagkatapos tapusin ang gawain"],
  ["Correct Translations: ", "Ang kanyang ngiti ay kasing liwanag ng araw", "Ang ngiti niya ay parang araw", "Ang ngiti niya ay kasing kinang ng araw", "Ang kanyang ngiti ay kasing ningning ng araw", "Ang kanyang ngiti ay kasing ningning ng araw"]
];

    </script>

    <script src="../../script/limitadong-oras.js" defer></script>
  </body>
</html>
